/* Snow style*/
.flake {
  position: absolute;
  top: -30px;
  font-size: 24px;
  color: white;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0.8;
  }
}

/*all pages content*/

.top-banner {
  display: flex;
  justify-content: center;   
  align-items: center;       
  background-color: #000;    
  padding: 10px 20px;
}

.left-text, .right-text {
  flex: 1;                   
  text-align: center;        
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.center-logo {
  height: 200px;             
}



 a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: center;
  margin: 20px;
  color: black;
  text-decoration: solid;
  font-weight: bold;
  
}

body {
  background-color: rgb(250, 250, 250);
}
nav a.active {
  color: #fff;
  background-color: #2a2b2c;
  border-radius: 4px;
  padding: 5px 10px;
}

.site-footer {
  background-color: #000;   
  color: #fff;              
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.footer-right p {
  margin: 0;
  font-size: 14px;
}

